


<div id="scrolly-1">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
            <div class="gv-wrapper"></div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>The Pandora papers detail over 1,500 UK properties held through 716 offshore companies. Most are concentrated in London, chiefly within just two boroughs: Westminster and Kensington.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>The offshore companies involved can be traced to a variety of jurisdictions including Jersey, the Cook Islands and Seychelles. However most of the companies are registered in the <span class="BVI">British Virgin Islands</span>, a UK overseas territory. The tax haven hosts 678 of the 716 companies revealed by the Pandora papers.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>The offshore company owners exposed by the leaked data come from every continent, with 78 different nationalities represented. Around 10% are <span class="NGR">Nigerian</span>, about 7% come from <span class="IND">India</span>.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>and around 5% are <span class="RUS">Russian</span> citizens.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p> But more than a quarter, by far the biggest group, are <span class="GBR">British</span> – suggesting the offshore company structure is widely used by UK citizens seeking to own properties via tax havens.</p>
                </div>
            </div>
        </div>
    </div>
</div>
